<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FearFuel</title>
</head>
<body>
    <header>
        <h1><a href="{% url 'home' %}">FearFuel</a></h1>

        {% if request.user.is_authenticated %}
            <p><a href="{% url 'account' %}">{{ request.user.username }}</a>  | <a href="{% url 'logout' %}">Logout</a></p>

        {% else %}
            <p><a href="{% url 'signup' %}">Sign Up</a> | <a href="{% url 'login' %}">Login</a></p>

        {% endif %}

        <nav>
            <a href="#">Link1</a>
            <a href="#">Link2</a>
            <a href="#">Link3</a>
        </nav>
        <hr>
    </header>
    <main>
        {% block content %}

        {% endblock content %}
    </main>
    <footer>
        <hr>
        <h6>Footer</h6>
    </footer>
</body>
</html>