<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap" rel="stylesheet">
    <link href="http://fonts.cdnfonts.com/css/dark-monday-black" rel="stylesheet">
    <link rel="stylesheet" href="/static/main.css">
    <title>FearFuel</title>
</head>
<body>
    <header>
        <h1 class="site-title"><a href="{% url 'home' %}">FearFuel</a></h1>

        {% if request.user.is_authenticated %}
            <p><a href="{% url 'account' %}">{{ request.user.username }}</a>  | <a href="{% url 'logout' %}">Logout</a></p>

        {% else %}
            <p><a href="{% url 'signup' %}">Sign Up</a> | <a href="{% url 'login' %}">Login</a></p>

        {% endif %}

        <nav>
            <a href="#">Link1</a>
            <a href="#">Link2</a>
            <a href="#">Link3</a>
        </nav>
        <hr>
    </header>
    <main>
        {% block content %}

        {% endblock content %}
    </main>
    <footer>
        <hr>
        <h6>Footer</h6>
    </footer>
</body>
</html>