<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap" rel="stylesheet"> 
    <link href="http://fonts.cdnfonts.com/css/dark-monday-black" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>FearFuel</title>
</head>
<body>
    <header>
        <h1 class="site-title"><a href="{% url 'home' %}">FearFuel</a></h1>
        <section class="header-links">
            <div class="logins">
                {% if request.user.is_authenticated %}
                    <p><a href="{% url 'account' %}">{{ request.user.username }}</a>  | <a href="{% url 'logout' %}">Logout</a></p>

                {% else %}
                    <p><a href="{% url 'signup' %}">Sign Up</a> | <a href="{% url 'login' %}">Login</a></p>

                {% endif %}
            </div>
            {% if request.user.is_authenticated %}
                <nav class="links">
                    <p><a id="link" href="{% url 'consumed' %}">Consumed</a> | <a id="link" href="{% url 'watchlist' %}">Watchlist</a></p>
                </nav>
            {% endif %}
        </section>
        <hr>
    </header>
    <main>
        {% block content %}

        {% endblock content %}
    </main>
    <footer>
        <hr>
        <div class="footer-content">
            <h6>FearFuel &copy; Timothy Johnson 2022 </h6>
        
            <div id="att-logos">
                <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg" alt="TMDB API">
                <img src="/static/images/python-programming-language-icon.svg" alt="Python">
                <img src="/static/images/django-icon.svg" alt="Django">
                <img src="/static/images/rest-api-icon.svg" alt="Django REST">
                <img src="/static/images/javascript-programming-language-icon.svg" alt="Javascript">
                <img src="/static/images/vue-js-icon.svg" alt="Vue JS">
                <img src="/static/images/html-icon.svg" alt="HTML">
                <img src="/static/images/css-icon.svg" alt="CSS">
            </div>
        </div>
    </footer>
</body>
</html>