{% extends 'base.html' %}

{% block content %}


<!-- <div>
    <h2>Body</h2>
    <p>This is where the good stuff goes</p>
    {% include 'fearfuel/snippets/movies.html' %}
</div> -->

<div id="app">

    <div class="searchbar">
        <input id="searchbar" type="text" v-model="searchTerm" placeholder="Search..." @keyup.enter="searchHorrorMovies">
        <button id="searchbtn" @click="searchHorrorMovies">☠</button>
    </div>

    <div v-if="Object.keys(searchResults).length">
        <ol class="movies">
            <li class="card" v-for="movie in searchResultsHorror" :key=movie.id style="margin: .5rem;">
                <input class="card-input" type="checkbox" name="">
                <div class="toggle">⛧</div>
                <div class="imgBx">
                    <img id="poster" :src="`http://image.tmdb.org/t/p/w500${ movie.poster_path }`" alt="">
                </div>
                <div class="details">
                    <h2>[[ movie.title ]]</h2>
                    <h4>[[ movie.release_date ]]</h4>
                    <p>[[ movie.overview ]]</p>
                </div>
            </li>
        </ol>
    </div>

    <div v-else="Objects.keys(horrorMovieList).length">
        <ol class="movies">
            <li class="card" v-for="movie in horrorMovieList" :key=movie.id style="margin: .5rem;">
                <input class="card-input" type="checkbox" name="">
                <div class="toggle">⛧</div>
                <div class="imgBx">
                    <img id="poster" :src="`http://image.tmdb.org/t/p/w500${ movie.poster_path }`" alt="">
                </div>
                <div class="details">
                    <h2>[[ movie.title ]]</h2>
                    <h4>[[ movie.release_date ]]</h4>
                    <p>[[ movie.overview ]]</p>
                </div>
            </li>
        </ol>
    </div>
    <div class="page-buttons">
        <div class="page" id="prev"><button @click="prevPage">Previous</button></div>
        <div class="current" id="current"><p>[[ pageNum ]]</p></div>
        <div class="page" id="next"><button @click="nextPage">Next</button></div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    let app = new Vue({
        el: '#app',
        delimiters: ["[[", "]]"],
        data: {
            horrorMovieData: [],
            horrorMovieList: [],
            imagePath: "http://image.tmdb.org/t/p/w500",
            pageNum: 1,
            totalPages: [],
            genreid: 27,
            searchTerm: "",
            searchResultData: [],
            searchResults: [],
            searchResultsHorror: [],
        },
        methods: {
            loadHorrorMovies: function() {
                axios({
                    method: 'get',
                    url: 'https://api.themoviedb.org/3/discover/movie?api_key=379e908ddf277da10cfb2e7dc3901114&with_genres=27',
                    params: {
                        page: this.pageNum,
                    }
                }).then(response => {
                    this.horrorMovieData = response.data
                    this.horrorMovieList = this.horrorMovieData.results
                    console.log(this.horrorMovieData)
                }).catch(error => {
                    console.log(error)
                    console.log(error.response.data)
                })
            },
            searchHorrorMovies: function() {
                axios({
                    method:'get',
                    url:'https://api.themoviedb.org/3/search/movie?api_key=379e908ddf277da10cfb2e7dc3901114',
                    params: {
                        query: this.searchTerm,
                        
                    },
                }).then(response => {
                    this.searchResultData = response.data
                    this.searchResults = this.searchResultData.results.filter(title => title.title.toLowerCase().includes(this.searchTerm.toLowerCase()))
                    this.searchResultsHorror = this.searchResults.filter(genre_ids => genre_ids.genre_ids.includes(this.genreid))
                    console.log(this.searchResultData)
                    console.log(this.searchResultsHorror)
                }).catch(error => {
                    console.log(error)
                    console.log(error.response.data)
                })
            },
            nextPage: function() {
                this.pageNum++
                this.loadHorrorMovies()
            },
            prevPage: function() {
                if (this.pageNum >= 2) {
                    this.pageNum--;
                }
                this.loadHorrorMovies()
            }
        },
        created: function() {
            this.loadHorrorMovies()
        }
    })
</script>

{% endblock content %}


