{% extends 'base.html' %}

{% block content %}

{% csrf_token %}

<div id="app">

    <h1>Your Watchlist</h1>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    let vm = new Vue ({
        el: '#app',
        delimiters: ["[[", "]]"],
        data: {
            users: [],
            currentUser: {},
            movies: [],
        },
        methods: {
            loadUsers: function() {
                axios({
                    method: 'get',
                    url: '/api/v1/users/',
                }).then(response => this.users = response.data)
            },
            loadCurrentUser: function() {
                axios({
                    method: 'get',
                    url: '/api/v1/currentuser/',
                }).then(response => this.currentUser = response.data)
            },
            loadMovies: function() {
                axios({
                    method:'get',
                    url:'/api/v1/movies/',
                }).then(response => this.movies = response.data)
            },
        },
        created: function() {
            this.loadUsers()
            this.loadCurrentUser()
            this.loadMovies()
        },
        mounted: function() {
            this.csrfToken = document.querySelector("input[name=csrfmiddlewaretoken]").value
        },
    })
</script>

{% endblock content %}